/* כללי */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* שחור כהה */
    color: #fff; /* טקסט לבן */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h3 {
    font-family: 'Arial', sans-serif;
    color: #3498db; /* כחול בהיר */
    margin: 20px 0;
}

/* כותרת ראשית */
h1 {
    font-size: 48px; /* הגדלתי את גודל הפונט */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* כותרת משנה */
h3 {
    font-size: 32px; /* הגדלתי את גודל הפונט */
    color: #e74c3c; /* אדום */
}

/* כפתורים */
button {
    background-color: #e74c3c; /* אדום */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px; /* הגדלתי את הריווח */
    font-size: 24px; /* הגדלתי את גודל הפונט */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #c0392b; /* אדום כהה */
    transform: scale(1.1); /* הגדלתי את ההשפעה בזמן ריחוף */
}

button:disabled {
    background-color: #7f8c8d; /* אפור כשלחיצה לא אפשרית */
    cursor: not-allowed;
}

/* רשימות קטגוריות */
.category-container {
    text-align: left;
    margin-top: 20px;
    width: 80%;
}

label {
    display: block;
    font-size: 24px; /* הגדלתי את גודל הפונט */
    margin: 10px 0;
}

input[type="checkbox"] {
    margin-right: 15px; /* הגדלתי את הריווח */
}

input[type="number"] {
    padding: 15px; /* הגדלתי את הריווח */
    font-size: 22px; /* הגדלתי את גודל הפונט */
    width: 70px; /* הגדלתי את הרוחב */
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

/* אזור שגיאות */
.error {
    color: #e74c3c; /* אדום */
    font-size: 20px; /* הגדלתי את גודל הפונט */
    margin-top: 10px;
}

/* חלון מידע לשחקן */
#player-info {
    background-color: rgba(52, 152, 219, 0.8); /* כחול חצי שקוף */
    padding: 30px; /* הגדלתי את הריווח */
    border-radius: 10px;
    width: 80%;
    margin-top: 20px;
    font-size: 28px; /* הגדלתי את גודל הפונט */
    text-align: center;
    color: white;
}

/* התמקדות */
input:focus, select:focus {
    outline: none;
    border: 2px solid #3498db; /* כחול זוהר */
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
}
